/* components/NavBar/index.scss */
.custom-navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .back-icon {
    margin-left: 20rpx;
    font-size: 36rpx;
  }
  .title {
    margin-left: 30rpx;
    font-size: 32rpx;
  }
}
